h1{ margin-left:4px;
    font-size:150px;
    color:var(--third-color);
    position: relative;
}
hr{ margin-left: 4px;
    width: 475px;
    color:#fff;
    height: 3px;
    background-color:#fff ;
}
h2{ margin-left: 4px;
    position: relative;
    font-size:50px;
    color:#fff;
    font-weight: bold;

}

 
h3{ margin-left: 4px;
    position: relative;
    font-size:45px;
    color:#fff;
    font-weight:var(--font-weight-semibold);

}
.foto img{
    display: flex;
   
    align-items:center;
    height: 600px;
    width: 650px;
    border-radius: 50%;
    background-color: var(--second-color);
    margin-left: -90px;
    margin-top: 90px;
    
   
}
.texto-secundario{
    
   position: relative;
    font-size:50px;
    color:#fff;
    margin-left: -100px;
    margin-top:110px;
}
.texto-secundario>p{
    color:var(--third-color);
    font-size:50px;
}
.ic{
    display:flex;
   letter-spacing:10px;

    
}
.lindekin{
     
    border-radius: 50%;
    background:var(--font-color);
    margin-right: 10px;
    height: 45px;
    width: 45px;
  } 
  .lindekin img{
    height: 50px;
    width: 40px;
  }
  .instagram{
   
   border-radius: 50%;
   background:var(--font-color);
   margin-right: 10px;
   height: 45px;
   width: 45px;

  }
  .instagram img{
      height: 50px;
      width: 40px;
  }
  .twiter{
   
   border-radius: 50%;
   background:var(--font-color);
   margin-right: 10px;
   height: 45px;
   width: 45px;
  }
  .twiter img{
    height: 50px;
    width: 40px;
  }
  .iconos-centrales{
    display:flex;
    text-align:center;
    box-sizing:border-box;
    background-color: var(--second-color);
    letter-spacing:100px;
    margin-left: 250px;
    margin-right:250px;
    margin-top: -80px;
    margin-bottom: 20px;
    justify-content: center;
   
    
   
}
.icon{
   box-sizing: border-box;
   background:var(--font-color);
   margin-right: 10px;
   height: 120px;
   width: 150px;
   margin-top: 19px;
   margin-right: 10px;

}
.amazon{
   box-sizing: border-box;
   background:var(--font-color);
   margin-right: 10px;
   height: 120px;
   width: 150px;
   margin-top: 19px;
   margin-right: 10px;
   margin-left: 90px;
}
.spotyfy{
   box-sizing: border-box;
   background:var(--font-color);
   margin-right: 10px;
   height: 120px;
   width: 150px;
   margin-top: 19px;
   margin-left: 90px;
   margin-bottom: 10px;

}
.acerca{
    color: #fff;
    font-size: 18px;
}
.acerca p{
    text-align: center;
    color:var(--font-color);
}

h4{
    text-align: center;
    color:var(--third-color);
    font-size: 25px;
}
.icono-secundario{
    display: flex;
    justify-content:center;
   

   

}
.ux{
    box-sizing: border-box;
    text-align: center;
    margin-left:25px;
    margin-right: 25px;
    background-image: url(../Vectores/Ellipse\ 14.svg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    margin-bottom:25px;
    height: 300px;
    width: 200px;
    
 
}
.ux p{
    font-size: 13px;
    color:var(--font-color);
}   
    
    

.Marketing{
    box-sizing: border-box;
    text-align: center;
    margin-left:20px;
    margin-right: 20px;
    background-image: url(../Vectores/Ellipse\ 14.svg);
    background-color: #FFFFFF;
    background-repeat:no-repeat;
    margin-bottom:25px;
    height: 300px;
    width: 200px;
  
}
.Marketing p{
   font-size: 13px;
   color:var(--font-color);
}
.search{
   box-sizing: border-box;
   text-align: center;
   margin-left:25px;
   margin-right: 25px;
   background-image: url(../Vectores/Ellipse\ 14.svg);
   background-color: #FFFFFF;
   background-repeat: no-repeat;
   margin-bottom:25px;
   height: 300px;
   width: 200px;
  } 
  .search p{
   font-size: 13px;
   color:var(--font-color); 
  }